# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Spark
spark-warehouse/
metastore_db/
derby.log
*.crc
_SUCCESS
checkpoints/

# Data lake (large)
storage/lake/bronze/
storage/lake/silver/
storage/lake/gold/

# Models
ml/models/*
!ml/models/.gitkeep

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log
logs/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Mongo dumps
dump/
